# directory to keep keys and other files needed by UCP sender
UCP_DIRECTORY=/Users/bob/.ucp
# Port that the UCP server is listening on
UCP_PORT=4567
#########################################################################
# OPTIONS FOR send and recv executables
#########################################################################

# IP or host name of the UCP server
UCP_HOST=54.56.57.58

#######################################################################
# OPTIONS for UCP server
#######################################################################
